.demo {
    background-color: rgb(230, 230, 232);
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
}

.demo .better-date-picker-container {
    align-self: center;
}

.demo .better-date-picker-input {
    border: 1px solid rgba(0, 0, 0, 0.1);

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);

    outline: 0;
    padding: 10px 14px;
    font-size: 1.2em;
    border-radius: 2px;
    cursor: pointer;

    background-image: url(icon.svg);
    background-size: 24px 20px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.demo .better-date-picker-input:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
